body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    flex-direction: column;
}

.header, .hero {
    background-color: #1F2937;
    color:#F9FAF8;
    display: flex;
}

.header {
    flex: 1;
    justify-content: space-around;
    font-size: 16px;
    font-weight: bold;
    padding: 32px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 32px;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    flex: 1;
    flex-basis: auto;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap: 128px;
    padding: 32px;
}

.welcome {
    width: 512px;
    align-self: flex-start;
    flex-basis: auto;
}

.welcome-image {
    width: 512px;
    flex-basis: auto;
}

.welcome-image img {
    width: 100%;
    height: auto;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button a {
    display: block;
    padding: 8px 16px;
    width: 100px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.cards {
    display: flex;
    gap: 64px;
}

.cards .card {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
}

.card img {
   border-radius: 8px;
   outline: solid #3882F6;
}

.quote-body {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.quote {
    width: 1024px;
    font-size: 32px;
}

.quote-author {
    text-align: end;
    font-size: 24px;
    color: #37414d;
}


.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    font-size: 16px;
    padding: 32px;
}


